.container {
    margin: auto;
    width: 400px;
    height: 680px;
    padding: 15px;
    border: 2px black solid;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-family:  Cursive, Ubuntu, Roboto, Arial, sans-serif;
    font-size: 25px;
    caret-color: transparent;
}

.grid-container {
    margin: 10px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.tiles {
    margin: 10px;
    height: 100px;
    width: 100px;
    padding: 2px;
    border: 2px black solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 60px;
    cursor: pointer;
}

button {
    margin-left: 10px;
    padding: 5px;
    background-color: #ebe9e9;
    width: 100px;
    height: 50px;
    border-radius: 20px;
 }

 #choice {
     color: rgb(12, 14, 133);
     text-shadow: 5px;
     display: none;
}

span:hover {
    background-color: bisque;
    border-radius: 5px;
    width: 90px;
    height: 40px;
}